@font-face {
    font-family: pacifico;
    src: url(fonts/Pacifico/Pacifico-Regular.ttf);
}

@font-face {
    font-family: nunito;
    src: url(fonts/Nunito_Sans/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}
@font-face {
    font-family: nunitoitalic;
    src: url(fonts/Nunito_Sans/NunitoSans-Italic-VariableFont_YTLC\,opsz\,wdth\,wght.ttf);
}
body{
    background-image: url("images/background.avif");
    background-repeat: repeat;
    display:flex;
    margin:0;
    width:100vw;
    align-items: center;
    font-family:nunito;
}

#block{
    background-color:#efefef;
    padding:40px;
    border-radius:10px;
    margin:auto;
    margin:40px;
}

header{
    text-align:center;
    width:100%;
}

.title{
    font-family:pacifico;
    font-size:40px;
}

.subtitle{
    color:#111111;
    font-family:nunitoitalic;
    font-size:20px;
}

nav{
    display:flex;
    justify-content:space-around;
    width:100%;
    text-align:center;
    margin-bottom:15px;
}

.button{
    text-decoration:none;
    color:black;
    background-color:white;
    margin:15px;
    width:30%;
    padding:10px;
    border-radius:10px;
}

.logoimg{
    display:block;
    width:100%;
    max-width:200px;
    margin:auto;
}

article{
    display:block;
    width:70%;
    float:right;
    margin:auto;
    align-items: center;
    line-height: 200%;
}

.menu{
    display:none;
    margin:auto;
}

aside{
    width:25%;
    float:left;
    text-align:center;
}

.headerlogo{
    display:none;
}

/*tablet view*/
@media only screen and (max-width: 768px) {
    #block{
        width:100vw;
        min-width:375px;
    }
    .button{
        width:100px;
        margin:3px;
    }
}

/*phone view*/
@media only screen and (max-width: 535px) {
    #block{
        margin:10px;
        padding:15px;
        width:100vw;
        height:100vh;
    }
    header{
        display:flex;
        align-items:center;
    }
    .title{
        font-size:22px;
    }
    .subtitle{
        font-size:15px;
    }
    nav{
        display:none;
    }
    .menu:hover nav{
        display:block;
    }
    .menu{
        display:block;
        float:right;
        width:30px;
        height:30px;
    }
    #headertxt{
        width:80vw;
        margin:auto;
        display:block;
    }
    .logoimg{
        display:none;
    }
    article{
        width:100%;
    }
    aside{
        width:100%;
    }
    .headerlogo{
        display:block;
        float:left;
        width:60px;
        margin:auto;
    }
}